<Router AppAssembly="typeof(Program).Assembly">
    <Found Context="routeData">
        <AuthorizeRouteView RouteData="routeData" DefaultLayout="typeof(Layout.MainLayout)">
            <NotAuthorized>
                <LayoutView Layout="typeof(Layout.MainLayout)">
                    <h1>Not Authorized</h1>
                    <p>You are not authorized to access this page.</p>
                </LayoutView>
            </NotAuthorized>
        </AuthorizeRouteView>
        <FocusOnNavigate RouteData="routeData" Selector="h1" />
    </Found>
</Router>
