@inject IJSRuntime JS

<button @onclick="ShowAlert">Alert ИоНУСі ЖчПьБт</button>

<div id="liveAlertPlaceholder"></div>
<button type="button" class="btn btn-primary" id="liveAlertBtn">Show live alert</button>


<button type="button" class="btn btn-primary" @onclick="hhoello">button Test</button>
@if (IsVisible)
{
	<div class="alert alert-${type} alert-dismissible fade show" role="alert">
		<div>Hello World!</div>
		<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
	</div>
}

<script>
	window.showLiveAlert = function(message, type) {
	const alertPlaceholder = document.getElementById('liveAlertPlaceholder');
	const wrapper = document.createElement('div');
	wrapper.innerHTML = [
	`<div class="alert alert-${type} alert-dismissible fade show" role="alert">`,
	`   <div>${message}</div>`,
	'   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
	'</div>'
	].join('');

	alertPlaceholder.append(wrapper);

	// 3УЪ ШФ РкЕП СІАХ
	setTimeout(() => {
	wrapper.remove();
	}, 3000);
	};


	const alertPlaceholder = document.getElementById('liveAlertPlaceholder')
	const appendAlert = (message, type) => {
	const wrapper = document.createElement('div')
	wrapper.innerHTML = [
	`<div class="alert alert-${type} alert-dismissible" role="alert">`,
	`   <div>${message}</div>`,
	'   <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>',
	'</div>'
	].join('')

	alertPlaceholder.append(wrapper);

	setTimeout(() => {
	wrapper.remove();
	}, 3000);
	};

	const alertTrigger = document.getElementById('liveAlertBtn')
	if (alertTrigger) {
	alertTrigger.addEventListener('click', () => {
	appendAlert('Nice, you triggered this alert message!', 'success')
	})
	}




</script>
<div>@dynamicContent</div>


@code {
	private bool IsVisible = false;

	private async Task ShowAlert()
	{
		await JS.InvokeVoidAsync("showLiveAlert", "Nice, you triggered this alert message!", "success");
	}

	private async Task hhoello()
	{
		IsVisible = true;
		StateHasChanged();
		await Task.Delay(3000);
		IsVisible = false;
		StateHasChanged();
	}

	RenderFragment dynamicContent = builder =>
	{
		builder.OpenElement(0, "p");
		builder.AddContent(1, "РЬАЭРК ЕПРћРИЗЮ Л§МКЕШ ГЛПыРдДЯДй!");
		builder.CloseElement();
	};


}
